*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    color:blue;
    font-size: 30px;
    margin: 10% 40%;
    transition: all 0.5s;
}

.heading:hover{
    color: cadetblue;
    font-size: 40px;
}