*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    color:blue;
    font-size: 15px;
    margin: 10% 20%;
    transition: all 0.5s;
}

.heading:hover{
    color: brown;
    font-size: 20px;
    letter-spacing: 20px;
}