*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    padding: 13px 0;
}

.title{
    font-size: 50px;
    cursor: pointer;
    /* add transition */
    transition: color 1s ease-out;
}

.title:hover{
    color: #1f93ff;
}

.image{
    width: 100%;
    height: 75vh;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 2% 20%;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.menu-link{
    text-decoration: none;
    font-size: 24px;
    color: black;
    /* add transition */
    transition: all 1s ease-out;
}

.menu-link:hover{
    color: #1f93ff;
    font-size: 2.5rem;
}